* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  background-color: #8e7754;
  color: black;
}

:root {
  --color-text: rgb(255, 255, 255);
  --color-p: rgb(104, 104, 104);
  --color-h3-h2-h4-h5: rgb(48, 48, 48);
  --main-bg-nav-color: #584942c9;
  --main-bg: #f8f8f8;
  --main-hover-color: rgb(224, 198, 144);
  --heading-font: "Alegreya", serif;
  --main-font: "Alegreya Sans", sans-serif;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: 0;
}
img {
  display: block;
}
.container,
.container-nav {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.navbar-toggler:focus{
 box-shadow: none;
}
 nav.navbar {
  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 777;
  padding: 30px 0;
}
nav .container-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.logo-nav img {
  width: 60%;
}
.items-nav{
  width: 100%;
}
nav ul {
  flex-flow: column wrap;
  align-items: start;
  gap: 20px;
}
nav .nav-item {
  margin-right: 5px;
  padding-bottom: 15px;
  width: 100%;
  border-bottom: 1px solid rgba(144, 133, 48, 0.22);
}

nav .nav-link {
  font-size: 18px;
  width: auto;
  padding: 2px 12px;
  font-family: var(--heading-font);
  font-weight: 400;
  color: #333;
  border-radius: 30px;
  border: 2px solid transparent;
  transition: all 0.3s;
}

nav .nav-item .nav-link.active,
nav .nav-item:hover .nav-link  {
  color: var(--main-hover-color);
}

.hidden-div {
  background-color: #443f38;
  position: absolute;
  top: 70px;
  visibility: hidden;
  opacity: 0;
  padding: 24px 0px 16px 15px;
  border-radius: 4px;
  display: flex;
  width: 20%;
  transition: all 0.5s;
}

.hidden-ul {
  justify-content: start;
  align-items: start;
  flex-direction: column;
  color: var(--main-hover-color);
}

.hidden-ul li {
  margin-bottom: 15px;
  color: white;
  font-family: var(--heading-font);
  transition: all 0.5s;
}

.unique-li:hover .hidden-div {
  opacity: 1;
  visibility: visible;
  color: var(--main-hover-color);
}

.hidden-ul li:hover {
  color: var(--main-hover-color);
}


/* home */
.home {
  background-image: url(../images/images/drew-coffman-1872.jpg);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-size: cover;
  margin-bottom: 80px;
  position: relative;
}

.layer {
  background-color: rgba(0, 0, 0, 0.243);
  position: absolute;
  inset: 0;
}

.content-home {
  width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
}

.content-home h1 {
  font-family: var(--color-text);
  font-weight: 400;
  font-size: 30px;
  line-height: 91px;
  color: var(--color-text);
}

.content-home p {
  font-size: 20px;
  font-family: var(--main-font);
  font-weight: 400;
  line-height: 41px;
  color: rgba(255, 255, 255, 0.92);
  margin: 10px 0;
}

.content-home .big-paragraph {
  font-size: 21px;
  line-height: 39px;
}

.btn-home button {
  padding: 15px 28px;
  color: var(--color-text);
  font-size: 16px;
  font-family: var(--main-font);
  font-weight: 700;
  line-height: 22px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 25px;
  transition: all 0.4s;
}

.btn-learn {
  border: 2px solid transparent;
  background-color: #8e7754;
  margin-right: 10px;
  font-family: var(--main-font);
}

.btn-learn:hover {
  background-color: white;
  color: rgb(51, 51, 51);
}

.btn-contact {
  border: 2px solid white;
  background-color: transparent;
  font-family: var(--main-font);
}

.btn-contact:hover {
  background-color: white;
  color: rgb(51, 51, 51);
}

.pill {
  position: relative;
  bottom: -50px;
  height: 50px;
  width: 30px;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.pill:after {
  content: "";
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  background-color: #f1efe8;

  animation: pillanimation 3s infinite;
}
@keyframes pillanimation {
  0% {
    opacity: 1;
    top: 5px;
  }
  30% {
    opacity: 0;
    top: 20px;
  }
  35% {
    opacity: 0;
    top: 20px;
  }
  100% {
    opacity: 0;
    top: 5px;
  }
}
.side-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 -1px 17px 1px rgba(0, 0, 0, 0.09);
  padding: 16px 5px 16px 10px;
  position: fixed;
  top: 28%;
  border-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 5;
}

.side-home a {
  color: #666;

  transition: all 0.1s;
  font-size: 19px;
}

.side-home a:hover {
  color: rgb(24, 115, 184);
}

.side-home .fa-gears {
  padding-bottom: 15px;
  font-size: 20px;
}

/*  about*/
.about {
  margin-bottom: 50px;
  padding: 1px;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.img-about {
  width: 100%;
  padding: 15px;
}

.content-about h2,
.content-location h2,
.caption-baking h2,
.contact h2 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: var(--color-h3-h2-h4-h5);
  margin-bottom: 25px;
}

.content-about p,
.content-location p,
.caption-baking p,
.content-item p,
.contact p {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 17px;
  line-height: 32px;
  color: var(--color-p);
  margin-bottom: 20px;
}

.content-about .box-icon ul {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.content-about .box-icon li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  column-gap: 15px;
}

.content-about .box-icon i {
  color: rgb(142, 119, 84);
  font-size: 20px;
  line-height: 44px;
  text-align: center;
  width: 44px;
  height: 44px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: all 0.5s;
}

.content-about .box-icon i:hover {
  color: white;
  background-color: rgb(142, 119, 84);
}

.content-about .box-icon p {
  margin: 0;
}

.content-about {
  width: 100%;
  padding: 15px;
  margin-top: 25px;
}

/*  location*/
.location,
.contact {
  padding: 60px 0;
  background-color: var(--main-bg);
}

.location {
  margin: 50px 0;
}

.location .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.content-location {
  width: 100%;
  padding: 15px;
}

.img-location {
  width: 100%;
  padding: 15px;
}

.location img,
.img-about img,
.Baking img {
  width: 100%;
}

/* baking */

.Baking {
  margin-bottom: 50px;
  text-align: center;
}

.Baking .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.Baking .items {
  width: 100%;
  padding: 15px;
}
.img-box {
  position: relative;
  overflow: hidden;
}
.img-box img {
  transition: all 0.9s;
}
.layer-box {
  position: absolute;
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  transform: translateY(110%);
  top: 8px;
  bottom: 8px;
  left: 7px;
  right: 7px;
  background-color: #35333085;
  transition: all 0.5s;
}
.img-box:hover .layer-box {
  transform: translateY(0%);
}
.img-box:hover img {
  transform: scale(1.2);
}
.layer-box h6 {
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  color: rgb(214, 214, 214);
  margin: 20px 0 15px;
}
.layer-box ul {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}
.layer-box li i {
  color: rgb(214, 214, 214);
  transition: all 0.5s;
}
.layer-box li:hover i {
  color: rgb(86, 132, 171);
}
.caption-baking {
  padding: 15px;
  margin-bottom: 0px;
}

.content-item {
  h3 {
    font-family: var(--heading-font);
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
    color: var(--color-h3-h2-h4-h5);
    margin: 20px 0 15px;
  }
}

/* contact */
.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.contact .info-contact {
  width: 100%;
  padding: 15px;
}

.contact .map-contact {
  width: 100%;
  padding: 15px;
}

.detail-contact {
  margin-top: 25px;
}

.contact .detail-contact ul {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.contact .detail-contact li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  column-gap: 15px;
}

.contact .detail-contact li i {
  color: white;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: rgb(142, 119, 84);
  border-radius: 50%;
  transition: all 0.5s;
}

.contact .detail-contact li i:hover {
  color: white;
  background-color: rgb(208, 176, 129);
}

.contact .detail-contact p {
  margin-bottom: 28px;
}

.contact .detail-contact li p {
  margin: 0;
}

/* footer */
footer {
  background-color: #403d38;

  padding-top: 70px;
  color: white;
}

footer .main-footer .container {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

footer .main-footer .sections {
  width: 100%;
  margin-bottom: 25px;
  padding: 0 15px;
}

footer .main-footer .sections h4 {
  color: var(--color-text);
  font-family: var(--heading-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 25px;
}

footer .main-footer .sections.about p {
  color: #969696;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 25px;
}

footer .main-footer .sections ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

footer .main-footer .sections ul li {
  color: #969696;
  font-family: var(--main-font);
  display: flex;
  text-align: left;
  margin-bottom: 10px;
  column-gap: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
}

footer .main-footer .sections ul li i {
  font-size: 16px;
  line-height: 40px;
  text-align: center;
}

footer .main-footer .sections ul li p {
  margin: 0;
}

.sections.details {
  position: relative;
  z-index: 5;
}

.sections.details::before {
  content: "";
  position: absolute;
  background-image: url(../images/images/contact-details-map.png);
  background-position: center;
  background-size: center;
  background-repeat: no-repeat;
  text-indent: -9999px;
  inset: 0;
  opacity: 0.13;
  z-index: -1;
}

/* mini footer */
.mini-footer {
  background-color: #353330;
  padding: 70px 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.mini-footer img {
  width: 250px;
  margin-bottom: 25px;
}

.mini-footer p {
  margin-bottom: 25px;
}

.mini-footer ul {
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0;
  margin-bottom: 15px;
}
.mini-footer ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mini-footer ul li i {
  color: white;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  width: 40px;
  height: 40px;
  background-color: rgb(142, 119, 84);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 50%;
  transition: all 0.5s;
}

.mini-footer ul li i:hover {
  color: white;
  background-color: rgb(208, 176, 129);
}
